<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pokemon['name'] }} |  Pokemon</title>
</head>
<body>
<h1> {{ pokemon['name'] }} </h1>
<img src="{{ pokemon['sprites']['front_default'] }}">
<p>Base experience: {{ pokemon['base_experience'] }}</p>
<p>Height: {{ pokemon['height'] }} &bullet; Weight: {{ pokemon['weight'] }}</p>
<p>Types:
 {% for type_info in pokemon['types'] %}
      {{ type_info['type']['name'] }} {{ 'and' if not loop.last else ''}}
    {% endfor %}
</p>
</body>
</html>